.main-form {
  flex-direction: column;
  align-items: center;
}

.form-title {
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}

.form-fields-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1rem;
}

.form-group {
  flex: 0 1 auto;
  margin: 0 1rem;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  border: 1px solid #CCC;
  border-radius: 1em;
  min-width: 75%;
  background-color: #00000011;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

form li+li,
input[type="submit"] {
  margin-top: 1rem;
}

input[type="submit"] {
  cursor: pointer;
}

label {
  width: auto;
  text-align: right;
  font-size: 14px;
  margin: 0 5px;
}

input {
  font: 0.8rem sans-serif;
  line-height: 1rem;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 10px;
  padding: 5px;
  transition: border-color 200ms ease;
}

input:hover {
  border-color: var(--primary-color);
}

.msg {
  padding: 2px;
  padding-top: 1px;
  height: 1rem;
  text-align: right;
  font: 0.7rem sans-serif;
}

.warning {
  color: red;
}

.warning-border {
  border: 1px solid red;
}

.succeed {
  color: green;
}

.succeed-border {
  border: 1px solid green;
}

#modal {
  box-shadow: 0 0 18px 4px var(--primary-color);
  border-radius: 10px;
  background-color: #e8eddf99;
}

#modal-close-btn {
  border-radius: 15%;
  padding: 10px;
  color: var(--dark-secondary);
  background-color: var(--light-primary);
  border: solid 2px var(--primary-color);
  transition: text-shadow 150ms ease,
    background-color 150ms ease,
    color 150ms ease;
}


#modal-close-btn:hover {
  color: var(--primary-color);
  text-shadow: #333533 1px 0 10px;
  background-color: var(--light-secondary);

}
