/* Header */
header {
  background: var(--light-secondary);
  width: 100%;
  position: sticky;
  align-items: center;
}

header>div {
  align-items: center;
}

.logo {
  flex: 0 0 250px;
  color: var(--dark-secondary);
  font-size: 1.9rem;
  text-transform: capitalize;
  text-decoration: none;
}

.extended-menu {
  display: none;
  flex-wrap: wrap;
  height: 40px;
  overflow: hidden;
}

.extended-menu a {
  flex: auto;
  border-radius: 15%;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  color: var(--dark-secondary);
  border: solid 2px var(--primary-color);
  transition: text-shadow 150ms ease,
    color 150ms ease;
}

.extended-menu a:hover {
  color: var(--primary-color);
  text-shadow: #333533 1px 0 10px;
}
