/* Main */
main.flex-container {
  justify-content: center;
}

.welcome-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  border-top: solid 2px var(--primary-color);
}

.welcome-date h1 {
  margin: auto;
  text-transform: uppercase;
  text-shadow: #333533 1px 0 10px;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.welcome-date time {
  margin: auto;
  padding-left: 20px;
  color: var(--dark-secondary);
  font-weight: 500;
  font-size: 1.5rem;
}

.main-articles {
  flex-direction: column;
  flex: 3 1 400px;
  margin: 10px;
  border: solid 2px var(--primary-color);
  border-radius: 10px;
  background-color: #cfdbd555;
}

.main-articles>h2,
.secondary-articles>h2 {
  padding: 10px;
  margin: 10px;
  border-bottom: solid 1px var(--primary-color);
}

.main-article {
  padding: 10px;
  margin: 10px;
  border: solid 2px #333533;
  border-radius: 10px;
  background-color: var(--light-secondary);
}

.main-article img {
  width: 100%;
}

.secondary-articles {
  flex-direction: column;
  flex: 2 2 300px;
  justify-content: space-between;
  margin: 10px;
  border: solid 2px var(--primary-color);
  border-radius: 10px;
  background-color: #cfdbd555;
}

.secondary-article {
  padding: 10px;
  margin: 10px;
  border: solid 2px #333533;
  border-radius: 10px;
  background-color: var(--light-secondary);
}

.secondary-section {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px var(--secondary-color);
  color: var(--primary-color);
  text-shadow: #333533 1px 0 10px;
}

.advertisement {
  align-self: flex-start;
  padding: 10px;
  margin: 10px;
  flex: 1 3 200px;
  max-width: fit-content;
  border: solid 2px red;
  border-radius: 10px;
  background-color: var(--light-secondary);
}

.advertisement img {
  width: 100%;
}
