/* Palette */
:root {
  --primary-color: #f5cb5c;
  --secondary-color: #14213d;
  --dark-primary: #242423;
  --dark-secondary: #333533;
  --light-primary: #e8eddf;
  --light-secondary: #cfdbd5;
}

/* Global */
body {
  background-color: var(--light-primary);
}

a {
  text-decoration: none;
  color: var(--dark-secondary);
}

.outlevel-container {
  max-width: 1024px;
  margin: auto;
  padding: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;

}

.flex-wrap {
  flex-wrap: wrap;
}

.accentuate {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: #333533 1px 0 10px;
}

.selected {
  background-color: var(--primary-color);
}

/* Header */
header {
  background: var(--light-secondary);
  width: 100%;
  position: sticky;
  align-items: center;
}

.logo {
  color: var(--dark-secondary);
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: none;
}

.extended-menu {
  display: none;
}

.extended-menu a {
  flex: auto;
  border-radius: 15%;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  color: var(--dark-secondary);
  border: solid 2px var(--primary-color);
}

.extended-menu a:hover {
  color: var(--primary-color);
  text-shadow: #333533 1px 0 10px;
}

/* Main */
main {
  justify-content: center;
}

.welcome-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.welcome-date h1 {
  margin: auto;
  text-transform: uppercase;
  text-shadow: #333533 1px 0 10px;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.welcome-date time {
  margin: auto;
  padding-left: 20px;
  color: var(--dark-secondary);
  font-weight: 500;
  font-size: 1.5rem;
}

.main-articles {
  flex-direction: column;
  flex: 3 1 400px;
}

.main-article {
  padding: 10px;
  margin: 10px;
  border: solid 2px #333533;
}

.main-article img {
  width: 100%;
}

.secondary-articles {
  flex-direction: column;
  flex: 2 1 300px;
  justify-content: space-between;
}

.secondary-article {
  padding: 10px;
  margin: 10px;
  border: solid 2px #333533;
}

.advertisement {
  align-self: flex-start;
  padding: 10px;
  margin: 10px auto;
  flex: 1 2 200px;
  max-width: fit-content;
  border: solid 2px red;
}

.advertisement img {
  width: 100%;
}



/* MediaQueries */
@media screen and (min-width: 768px) {
  .extended-menu {
    display: flex;
  }

  .sandwich-menu {
    display: none;
  }
}
